Last login: Mon Apr 14 22:58:34 on ttys000
You have mail.
MacBook-Pro-de-Macbook:~ macbook$ la
-bash: la: command not found
MacBook-Pro-de-Macbook:~ macbook$ ls
Applications			Library
Applications (Parallels)	Movies
Desktop				Music
Documents			Pictures
Downloads			Public
MacBook-Pro-de-Macbook:~ macbook$ cd desktop
MacBook-Pro-de-Macbook:desktop macbook$ ls
107___03
Captura de pantalla 2014-03-05 a la(s) 22.45.45.png
Captura de pantalla 2014-03-10 a la(s) 21.28.29.png
Captura de pantalla 2014-03-10 a la(s) 21.28.32.png
Captura de pantalla 2014-03-10 a la(s) 21.47.53.png
Captura de pantalla 2014-03-12 a la(s) 20.01.38.png
Captura de pantalla 2014-03-12 a la(s) 20.27.29.png
Captura de pantalla 2014-03-12 a la(s) 20.36.31.png
Captura de pantalla 2014-03-25 a la(s) 15.35.57.png
Dallas Buyers Club [2013] BRRip XViD-SaM[ETRG]
Ejecutables
KatyPerry_Firework.mp3
Katy_Perry-Wide_Awake_muzonchik_net2692.mp3
Rails
Roar.mp3
Sublime Text 2.app
The.Hobbit.The.Desolation.of.Smaug.2013.BDRip.x264-SPARKS[rarbg]
The.Secret.Life.of.Walter.Mitty.2013.RETAIL.DVDRip.XviD-EVO
Windows XP
WirelessDiagnostics-C02LJDPUFD56-20140408204722.tar.gz
katy_perry-unconditionally2.mp3
ri20min.rb
ri20min.rb.rtf
ri29min.rb
test.rb
the ice man
trabajo de la vieja cuñaaa pesaa!!!.rtfd
MacBook-Pro-de-Macbook:desktop macbook$ cd rails
MacBook-Pro-de-Macbook:rails macbook$ ls
MiProjecto_web	primer_app
MacBook-Pro-de-Macbook:rails macbook$ cd primer_app
MacBook-Pro-de-Macbook:primer_app macbook$ ls
Gemfile		Rakefile	config		lib		test
Gemfile.lock	app		config.ru	log		tmp
README.rdoc	bin		db		public		vendor
MacBook-Pro-de-Macbook:primer_app macbook$ nano .gitignore

  GNU nano 2.0.6              File: .gitignore                        Modified  


# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret










^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Page ^K Cut Text  ^C Cur Pos
^X Exit      ^J Justify   ^W Where Is  ^V Next Page ^U UnCut Text^T To Spell
